# Application configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
MONGODB_URI=mongodb://localhost:27017
ALLOWED_ORIGINS=
JWT_PRIVATE_KEY="rsa private key"
JWT_PUBLIC_KEY="rsa public key"
# User passwords for seeding and e2e tests. Include all users from data/users.json
# Example: '{"arceus":"pass1","mew":"pass2","dialga":"pass3","palkia":"pass4","giratina":"pass5","mewtwo":"pass6","pikachu":"pass7","eevee":"pass8","snorlax":"pass9","gengar":"pass10"}'
BASE_USER_PASSWORDS_MAP='{}'
CRON_SECRET=my-secret

# Public vars
NEXT_PUBLIC_ENVIRONMENT=dev
