name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [20.x]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
    
    - name: Generate mocks
      run: npm run genmocks
    
    - name: Run unit tests
      run: npm test
    
    - name: Run lint check
      run: npm run lint
    
    - name: Check TypeScript compilation
      run: npm run compile
    
    - name: Check app builds
      run: npm run build

  e2e:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Wait for Vercel Preview Deployment
      uses: patrickedqvist/wait-for-vercel-preview@v1.3.1
      id: vercel-preview
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        max_timeout: 600
    
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    
    - name: Install Python dependencies
      working-directory: ./e2e
      run: uv sync

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci

    - name: Run seed script
      run: npm run seed
    
    - name: Run e2e tests
      env:
        NEXT_PUBLIC_APP_URL: ${{ steps.vercel-preview.outputs.url }}
        NEXT_PUBLIC_ENVIRONMENT: qa
        BASE_USER_PASSWORDS_MAP: ${{ secrets.BASE_USER_PASSWORDS_MAP }}
        MONGODB_URI: ${{ secrets.MONGODB_URI }}
        JWT_PRIVATE_KEY: ${{ secrets.JWT_PRIVATE_KEY }}
        JWT_PUBLIC_KEY: ${{ secrets.JWT_PUBLIC_KEY }}
      run: npm run test:e2e